/************* MIXINS *************/
/************* RESET *************/
* {
  margin: 0;
  padding: 0; }

/************* START BUILD *************/
body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%; }

#form {
  /*position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 10;*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px;
  background-color: #1C2B37; }
  #form input {
    width: calc(100% - 200px);
    border: none;
    padding: 10px 0 10px 25px;
    border-bottom: 1px solid #506470;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    color: white;
    background-image: url(../images/maginify.svg);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 20px; }
  #form select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: url("../images/dropdown.svg") no-repeat 75px 8px;
    background-color: #35C0C4;
    color: white;
    height: 35px;
    overflow: hidden;
    width: 100px;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 2px !important;
    -webkit-appearance: none;
    padding: 5px 5px 5px 10px; }
  #form button {
    width: 100px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #5DBFD4;
    color: white;
    display: none; }

#content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 40px;
  /*margin-top: 60px;*/ }
  #content .iconWrap {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 72px;
    height: 72px;
    padding: 20px;
    background-color: #F3F5F6;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer; }
    #content .iconWrap .icon {
      width: 24px;
      filter: grayscale(100%); }

svg path {
  fill: red !important; }

/*# sourceMappingURL=main.css.map */
